body {
    margin: 0;
    font-family: "Poppins", sans-serif;;
    
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #1e2859;
    padding: 10px;
}

h1 {
    text-align: center;
    color: white;
    flex-grow: 1;
}

label {
    text-align: center;
    color: black;
    font-size: 20px;
    margin-top: 10px;
    
}

button {
    background-color: #457b9d !important; 
} 

.control-panel {
    margin: 15px;
    display: flex; 
    align-items: center;
    justify-content: center; 
    gap: 10px;
    margin-bottom: 20px;
}

select {
    width: auto;  
    padding: 10px; 
    font-size: 15px; 
    border: 1px solid #1e2859; 
    border-radius: 5px; 
    background-color: #f8f9fa;
    cursor: pointer; 
}


